body {
font-family: sans-serif, arial;
}

h1 {color: #4286f4;}

table {
    width:100%;
	text-align: center;
}

th {
	text-align: center;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
table tr:nth-child(even) {
    background-color: #c8d1cc;
}
table tr:nth-child(odd) {
   background-color: #e1e8e4;
}
table th {
    background-color: #0d823f;
    color: white;
}


